
.primary-link {
    margin: 0;
    padding: 15px 30px;
    text-decoration: none;
    background-color: $font-color;
    font-family: $font-lato;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $company-color;
    border-radius: 10px;
}

@media only screen and (max-width: 730px) {
    .primary-link {
        display: none;
    }
}